
/*================*/

.contenairQuiz {
    width: 50vw;

    display: flex;
    flex-direction: column;
}
.divBtnChoice{
    display: flex;
    justify-content: center;
}
.divBtnChoice div {
    width: 80%;
    display: flex;
    justify-content: space-around;
}
.btnChoice {
    /* pour faire disparaitre mettre display: none et Block pour afficher le contenair */
    display: block;
    background: #c60404; /* couleur du bouton */
    border: none; /* On enleve la bordure */
    font-size: 30px; /* taille du texte */
    width: 200px; /* taille du bouton */
    padding: 10px 10px; /* marged interieur du bouton */
    border-radius: 5px; /* angle arrondi du bouton */
    transition: transform .2s; /* Animation */
    margin-left: 10px;
    margin-right: 10px;

}
.btnChoice:hover {
    background-color: #d44a4a;
    transform: scale(1.5)
}
/*************** SCORE ***************/
#containerQuestions {
    display: none;
}
.containerScore {
    display: none;
    color: #ffffff;
}
.divScore{
display: flex;
flex-direction: row;
font-size: 25px;
justify-content: center;
}

#scoreSpan{
    margin-left: 10px;
}
/************** QUESTIONS ****************/
.containerQuestions{
display: flex;
justify-content: center;
align-items: center;
flex-direction: column;
margin-top: 10px;
}
.divQuestion{
    background-color: #ffffff;
    width: 600px;
    margin-top: 15px;
    margin-bottom: 15px;
}

/* fieldset */ 
fieldset {
    margin-bottom: 20px;
    border: 1px solid red;
    padding-left: 15px;
    padding-top: 15px;
    padding-bottom: 15px;
}
.legendeQuestion{
    color: #ffffff;
}
.questionText {
    color: #ffffff;
    margin-bottom: 15px;
    font-size: 20px;
    text-transform: uppercase;
}
.labelQuestion{
    color: #ffffff;
}
